<nav class="navbar" id="navbar">
    <div class="navbar-top">
        <div class="logo">
            <a href="index.html">
            <img src="img/logo.png" height="60">
            </a>
        </div>
        <a href="javascript:void();" class="burger" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <ul class="menu">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="galeria.html">Galeria</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>
</nav>